* text=auto eol=lf

*.bat        text eol=crlf
*.cmd        text eol=crlf
gradlew      text eol=lf
gradlew.bat  text eol=crlf

*.png  binary
*.jpg  binary
*.webp binary
*.pdf  binary
*.xlsx binary
*.jar  binary
*.glb  binary
*.gltf binary
